{% extends 'main.html' %} <!-- bootstrap code in main.html -->
{% block content %}
{% include 'status.html'%}
<div class="row">
    <div class="col-md">
        <div class="card card-body">
      <hr>
      
    
       <table class="table table-sm">
        
          <tr>
            
            <th>product</th>
            <th >Category</th>
            <th >Date Order</th>
            <th >Satus</th>
           
          </tr>
          {% for item in order %}
          <tr>
              <th>{{item.product}}</th>
              <th>{{item.product.category}}</th>
              <th>{{item.date_created}}</th>
              <th>{{item.status}}</th>
              
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
</div>

{% endblock %}